<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking hotel</title>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" type="text/css" href="../../../css/style_custom.css">

</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="logo">
        <h1><span>🏬</span> Booking hotel</h1>
      </div>
      
      <ul class="menu">
        <li><a href="../../../Admin">Home</a></li>

        <!-- <li><a href="../User">Users</a></li> -->
        <li><a href="../roomType">RoomType</a></li>
        <li><a href="../Room">Rooms</a></li>
        <li><a href="../Booking">Bookings</a></li>
        <li><a href="../admin">Admin</a></li>
      </ul>
    </div>
  </div>
<!-- create -->
  <div class="form-container">
    <h1>CREATE USERS</h1>
    <form method="post" action="./create">

    

      <label for="*">Name</label>
      <input type="*" id="*" name="Name">

      <label for="*">Phone</label>
      <input type="*" id="*" name="phone">

      <label for="*">Email</label>
      <input type="*" id="*" name="email">

      <label for="*">Password</label>
      <input type="*" id="*" name="password">
      <label for="*"></label>

      <button type="submit" id="*">Create</button>
  
    </form>

  </div>
</body>
</html>
