<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking hotel</title>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" type="text/css" href="../../../css/style_custom.css">

</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="logo">
        <h1><span>🏬</span> Booking hotel</h1>
      </div>
      
      <ul class="menu">
        <li><a href="./Admin">Home</a></li>
        <li><a href="Users.html">Users</a></li>
        <li><a href="RoomType.html">RoomType</a></li>
        <li><a href="Rooms.html">Rooms</a></li>
        <li><a href="Bookings.html">Bookings</a></li>
        <li><a href="Admin.html">Admin</a></li>
      </ul>
    </div>
  </div>
<!-- create -->
  <div class="form-container">
    <h1>CREATE ADMINS</h1>
    <form method="post" action="./create">

  
        <label for="*">Name</label>
        <input type="*" id="*" name="admin_name" >
  
        <label for="*">Username</label>
        <input type="*" id="*" name="admin_username" >
  
        <label for="*">Phone</label>
        <input type="*" id="*" name="admin_phone" >
  
        <label for="*">Email</label>
        <input type="*" id="*" name="admin_email" >
  
        <label for="*">Password</label>
        <input type="*" id="*" name="admin_password" >
  
        <label for="*"></label>
   
  
        <button type="submit" id="*">Create</button>
    </form>
    <!-- <button id="*">Create</button> -->

  </div>
</body>
</html>
