<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking hotel</title>
  <link rel="stylesheet" type="text/css" href="../../../css/style_custom.css">
  
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="logo">
        <h1><span>🏬</span> Booking hotel</h1>
      </div>
      
      <ul class="menu">
        <li><a href="../../Admin">Home</a></li>
        <li><a href="./user">Users</a></li>
        <!-- <li><a href="./roomType">RoomType</a></li> -->
        <li><a href="#">Rooms</a></li>
        <li><a href="#">Bookings</a></li>
        <li><a href="./admin">Admin</a></li>
      </ul>
    </div>
  </div>
</body>
</html>

<!-- table -->
<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Typename</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= i +1%></td>
                <td><%= data[i].Type_Name %></td>
                <td>
                    <button onclick="location.href='../../Admin/roomType/update/<%= data[i].Type_id %>';">Edit</button>
                    <button onclick="location.href='../../Admin/roomType/delete/<%= data[i].Type_id %>';">Delect</button></td>
                </td>
            </tr>
            <% } %> 
        <!-- Data -->
           
    </table>
  <!-- ปุ่ม -->
  <div class="button-container">
    <button onclick="location.href='../../Admin/roomType/create';">Create</button>
    <button onclick="location.href='../Admin';">Back</button>
    
  </div>
</div>
</body>
</html>