<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking hotel</title>
  <link rel="stylesheet" type="text/css" href="../../css/style_custom.css">

</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="logo">
        <h1><span>🏬</span> Booking hotel</h1>
      </div>
      
      <ul class="menu">
        <li><a href="./Admin">Home</a></li>
        <li><a href="./Admin/user/">Users</a></li>
        <li><a href="RoomType.html">RoomType</a></li>
        <li><a href="Rooms.html">Rooms</a></li>
        <li><a href="Bookings.html">Bookings</a></li>
        <li><a href="./Admin/admin/">Admin</a></li>
      </ul>
    </div>
  </div>
</body>
</html>


<!-- ตาราง -->
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>List</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Data -->
          <tr>
            <td>Users</td><td><button onclick="location.href='./Admin/user/';">View</button></tr>
            <td>Rooms</td><td><button onclick="location.href='Rooms.html';">View</button></tr>
            <td>RoomType</td><td><button onclick="location.href='RoomType.html';">View</button></tr>
            <td>Bookings</td><td><button onclick="location.href='Bookings.html';">View</button></tr>
            <td>Admin</td><td><button onclick="location.href='./Admin/admin/';">View</button></tr>
  </tbody>
  </table>
</div>
</body>
</html>